@font-face {
  font-family: logo-font;
  src: url("fonts/contender.otf");
}

:root {
  --white-font: rgb(235, 235, 235);
  --main-bg-color: rgb(213, 213, 213);
  --form-bg-color: rgb(255, 255, 255);
  --transparent-bg-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  min-height: 100svh;
}

header,
header a {
  color: var(--white-font);
}

header {
  width: 100%;
  max-width: 400px;
  background: url("images/bg.jpg") no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-family: logo-font;
  font-size: 5rem;
}

header > div:first-child {
  background-color: var(--transparent-bg-color);
  margin-top: 80px;
  padding: 10px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div:last-child {
  margin-bottom: 10px;
}

.container {
  max-width: 520px;
}

main,
main > div {
  flex: 1;
  display: flex;
}

main {
  flex-direction: column;
}

main > div {
  background-color: var(--main-bg-color);
  padding: 2rem;
}

main > div:first-child > div {
  align-self: end;
}
main > div:nth-of-type(2) > div {
  align-self: center;
}

main > div:has(form) {
  background-color: var(--form-bg-color);
}

input {
  display: block;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 3rem;
}

.program-introduction p {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
}

.program-introduction p:first-child,
.form-container h2 {
  margin-bottom: 20px;
}

label {
  letter-spacing: 0.8px;
  text-transform: uppercase;
}