@font-face {
  font-family: logo-font;
  src: url("fonts/contender.otf");
}

:root {
  /* COLORS */
  --form-bg-color: rgb(255, 255, 255);
  --invalid-bg-color: rgb(245, 185, 185);
  --invalid-color: rgb(230, 61, 61);
  --main-bg-color: rgb(213, 213, 213);
  --transparent-bg-color: rgba(0, 0, 0, 0.5);
  --valid-bg-color: rgb(170, 230, 170);
  --valid-color: rgb(51, 150, 26);
  --white-font: rgb(235, 235, 235);

  /* FONT SIZE & BORDERS */
  --form-font-size: clamp(0.9rem, 1vw, 1rem);
  --input-border: 1px solid rgb(185, 185, 185);
  --input-outline: 2px solid rgb(44, 132, 247);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  min-height: 100svh;
}

/* Header section start */
header,
header a {
  color: var(--white-font);
}

header {
  width: 100%;
  max-width: 460px;
  background: url("images/bg.jpg") no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-family: logo-font;
  font-size: 5rem;
}

header > div:first-child {
  background-color: var(--transparent-bg-color);
  margin-top: 80px;
  padding: 10px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div:last-child {
  margin-bottom: 10px;
}
/* Header section end */

/* Main section start */
.container {
  max-width: 650px;
}

main,
main > div {
  flex: 1;
  display: flex;
}

main {
  flex-direction: column;
}

main > div {
  background-color: var(--main-bg-color);
  padding: 1.5rem;
}

main > div:first-child > div {
  align-self: end;
}

main > div:nth-child(2) > div {
  align-self: center;
}

main > div:has(form) {
  background-color: var(--form-bg-color);
}

/* Introduction start */
.program-introduction p {
  font-size: clamp(1rem, 1.5vw, 1.8rem);
}

.program-introduction p:first-child {
  margin-bottom: 20px;
}
/* Introduction end */

/* Form start */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 3rem;
  margin-top: 10px;
}

label {
  display: inline-block;
  font-size: var(--form-font-size);
  letter-spacing: 0.8px;
  margin: 0 0 2px 2px;
  text-transform: uppercase;
}

label,
button {
  cursor: pointer;
}

input,
button {
  appearance: none;
}

input {
  border: var(--input-border);
  border-radius: 6px;
  display: block;
  font-size: var(--form-font-size);
  height: 34px;
  outline: none;
  padding-left: 6px;
  width: 300px;
}

input:focus {
  border: var(--input-outline);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}
/* Form end */

/* Form Validation start */
input:not(:placeholder-shown):valid {
  border: 2px solid var(--valid-color);
  background-color: var(--valid-bg-color);
}

input:not(:placeholder-shown):invalid {
  border: 2px solid var(--invalid-color);
  background-color: var(--invalid-bg-color);
}

.output-msg {
  height: 15px;
  margin: 2px 0 0 12px;
  max-width: 300px;
}

.output-msg > .validation {
  display: none;
  margin-left: 5px;
  position: relative;
}

.output-msg> .validation::after {
  content: ' ';
  height: 18px;
  left: -18px;
  position: absolute;
  width: 18px;
}

input:valid + .output-msg {
  color: var(--valid-color);
}

input:invalid + .output-msg {
  color: var(--invalid-color);
}

input:not(:placeholder-shown) + .output-msg > .validation {
  display: block;
}

input:not(:placeholder-shown):valid + .output-msg > .validation::after {
  background: url("images/valid.png") left/18px;
}

input:not(:placeholder-shown):invalid + .output-msg > .validation::after {
  background: url("images/invalid.png") left/18px;
}
/* Form validation end */

/* Button start */ 
button {
  border-radius: 6px;
  height: 38px;
  margin-bottom: 20px;
  width: 180px;
}
/* Button end */
/* Main section end */